{% if forloop.index > 1 %}<div class="divider"></div>{% endif %}

<article>
	<header class="stack stack-space-xs">
		{% if meta %}<p class="text-sm color-text-muted">{{ meta }}</p>{% endif %}
		<h{{ level }} class="text-lg">
			<a class="button" href="{{ url }}">
				<span class="with-icon">
					<span class="measure pt-xs pb-xs">{{ title }}</span>
					<svg class="icon color-primary" viewBox="0 0 1 1"><use href="#icon-chevron-right"></svg>
				</span>
			</a>
		</h{{level}}>
	</header>
	<p class="measure mt-xs color-text-muted">{{ description }}</p>
</article>
