---
layout: layouts/base
permalink: "{{ page.fileSlug }}.html"
type: article
---

<footer class="mt-base">
	<p class="text-sm color-text-muted weight-bold">
		<a class="button" href="{{ "/posts.html" | prettyUrl }}">
			<span class="with-icon">
				<svg class="icon color-primary" viewBox="0 0 1 1"><use href="#icon-arrow-back"></svg>
				<span>投稿</span>
			</span>
		</a>
	</p>
</footer>

<main class="mt-xl">
	<article>
		<header>
			{% assign published = page.fileSlug | timeTag %}
			<p class="text-sm color-text-muted">{{ published }}</p>
			<h1 class="post-title mt-sm text-2xl">{{ title }}</h1>
		</header>

		<div class="post-body stack mt-xl">
			{{ content }}
		</div>
	</article>
</main>
